
@{
    ViewBag.Title = "Index";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/Styles/JavaScript.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/Styles.css">
</head>

<body>
    <h2 id="main">Main Menu</h2>
    <img src="~/Content/Graphics/byuInformationSystems.jpeg" alt="BYU Information Systems Logo" class="center" style="width:500px; height:500px;">
    <h2>JavaScript Functions</h2>
    <button type="button" onclick="w3_open()">Activate</button>
    <button type="button" onclick="w3_close()">Deactivate</button>
    <br />
    <p id="mySidebar">"Bless those who persecute you, bless and do not curse. - Romans 12:14".</p>

</body>
